<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naruto Pictures</title>
</head>
    <style>
        body {background-position-y: fixed;}
        div.gallery {display: inline; border: 2px solid lightgrey; float: left; margin-left: 10px;}

        div.gallery:first-child {margin-left: 0;}

        div.gallery:hover {border: 2px solid darkgrey; font-size: x-large; font-weight: bolder;}

        div.gallery img {height: 300px; width: 300px;}

        div.desc {padding: 5%; font-size: large;}

        div.container {width: 1880px; height: 45%; background: black; color: white;}
    </style>
<body>
    <div class="container">
        <div class="gallery">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfsz5pkQF_BYfGhv4IZmwJDfRUYgIu8WTkIQ&s" alt="">
            <div class="desc">Add a description of the image here</div>
        </div>

        <div class="gallery">
            <img src="https://i.pinimg.com/736x/7f/9b/b3/7f9bb3043943fcc71d26f90e8db74350.jpg" alt="">
            <div class="desc">Add a description of the image here</div>
        </div>

        <div class="gallery">
            <img src="https://i.pinimg.com/736x/30/6d/a7/306da78d81755fd3fd42ff2b9a28cc64.jpg" alt="">
            <div class="desc">Add a description of the image here</div>
        </div>

        <div class="gallery">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTatLTCkGsdm-34TuXTseZ8KPjytKFy5EQ76RfuYWUgwh-v_mlpDbPeKx0&s" alt="">
            <div class="desc">Add a description of the image here</div>
        </div>

        <div class="gallery">
            <img src="https://i.pinimg.com/originals/5f/c2/6d/5fc26d349f70ac3e9b88d3eee5d77987.jpg" alt="">
            <div class="desc">Add a description of the image here</div>
        </div>

        <div class="gallery">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQ-f_6srzYU4GDFshFcgVkVtdw2LI_8_GPu4ICbkOga1IV_G5Kfa5Ief4&s" alt="">
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
    <!-- 
    
    
     -->
</body>
</html>