<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Minella's Dinner Of The Main Line</title>
</head>
<body>

    <img logo style="position: absolute; width: 10vw; height: 10vh;" src="https://8ad64bfd6c8d150c4334.cdn6.editmysite.com/uploads/b/8ad64bfd6c8d150c4334b9936868a44d913970ad12cfc7757462e69649ab1f4b/minellas_new_logo_oval_1636613215.png?width=2400&optimize=medium" alt="">
    <strong><p style="position: absolute; left: 28vw; top: 3vh;">Minella's Dinner Of The Main Line</p></strong>
    <strong><p style="position: absolute; left: 48vw; top: 3vh;">Menu</p></strong>
    <strong><p style="position: absolute; left: 53.5vw; top: 3vh;">About Minella's</p></strong>
    <strong><p style="position: absolute; left: 65vw; top: 3vh;">Jobs</p></strong>
    <strong><p style="position: absolute; left: 70vw; top: 3vh;">Contacts</p></strong>
    <p style="position: absolute; left: 85vw; top: 3vh;">Order Online Now</p>

    <img style="position: relative; top: 20vh; height: 94vh; width: 1000px;" src="https://8ad64bfd6c8d150c4334.cdn6.editmysite.com/uploads/b/8ad64bfd6c8d150c4334b9936868a44d913970ad12cfc7757462e69649ab1f4b/2020-06-10_11-45-39_1591803986.jpg?width=1600&optimize=medium&height=480&fit=cover&dpr=1" alt="">
    <img style="position: absolute; top: 125vh; height: 90vh;  left: 16vw; width: 70vw;" src="https://8ad64bfd6c8d150c4334.cdn6.editmysite.com/uploads/b/8ad64bfd6c8d150c4334b9936868a44d913970ad12cfc7757462e69649ab1f4b/greek-salad_1656085835.jpg?width=2400&optimize=medium" alt="">
    <img style="position: absolute; top: 200vh; height: 70vh; width: 50vw;" src="https://8ad64bfd6c8d150c4334.cdn6.editmysite.com/uploads/b/8ad64bfd6c8d150c4334b9936868a44d913970ad12cfc7757462e69649ab1f4b/togo_1670537193.jpg?width=2400&optimize=medium" alt="">

</body>
</html>