<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minella's Diner Of The Main Line</title>
</head>
    <style>
        body{background-color: white; color: black;}
    </style>
<body>

    <div>
        <div style="height: 80px; margin: 20px 0px 20px 0px;">
            <div style=" width: 29%; float: left; margin: 0% 0% 0% 3%; padding: 0;">
                <img style="width: 151px; float: right; " src="https://8ad64bfd6c8d150c4334.cdn6.editmysite.com/uploads/b/8ad64bfd6c8d150c4334b9936868a44d913970ad12cfc7757462e69649ab1f4b/minellas_new_logo_oval_1636613215.png?width=2400&optimize=medium" alt="">
            </div>
            <div style=" border: 3px solid black; float: right; margin: 7px 3px 7px 0px; padding: 0;">
                <h4 style="padding: 0px 10px;">Order Online Now</h4>
            </div>  
        </div>

        <div style="margin: 0% 0% 4% 0%;">
            <img style="width: 100%; " src="https://8ad64bfd6c8d150c4334.cdn6.editmysite.com/uploads/b/8ad64bfd6c8d150c4334b9936868a44d913970ad12cfc7757462e69649ab1f4b/2020-06-10_11-45-39_1591803986.jpg?width=1600&optimize=medium&height=480&fit=cover&dpr=1" alt="">
        </div>

        <div style="width: 80%; margin: 0% 0% 5% 11%;">
            <img style="width: 100%;" src="https://8ad64bfd6c8d150c4334.cdn6.editmysite.com/uploads/b/8ad64bfd6c8d150c4334b9936868a44d913970ad12cfc7757462e69649ab1f4b/greek-salad_1656085835.jpg?width=2400&optimize=medium" alt="">
        </div>

        <div style="width: 100%;">
            <div style="width: 39%; margin-left: 11%; float: left;">
                <div style="width: 100%;">
                    <img width="100%" src="https://8ad64bfd6c8d150c4334.cdn6.editmysite.com/uploads/b/8ad64bfd6c8d150c4334b9936868a44d913970ad12cfc7757462e69649ab1f4b/togo_1670537193.jpg?width=2400&optimize=medium" alt="">
                </div>
                <h1>Inside Pickup</h1>
                <p style="font-size: x-large;">Its this easy. Just call ahead and tell us what you like and we'll give you a time when it'll be ready 
                    for you to come in and pickup. Call 090-2546-8909 or you can ORDER ONLINE now.</p>
            </div>

            <div style="width: 40%; float: right; margin-right: 9%;">
                <div>
                    <img width="100%" src="https://8ad64bfd6c8d150c4334.cdn6.editmysite.com/uploads/b/8ad64bfd6c8d150c4334b9936868a44d913970ad12cfc7757462e69649ab1f4b/george_1670537197.jpg?width=2400&optimize=medium" alt="">
                </div>
                <h1>Deliveries To Your Door</h1>
                <p style="font-size: x-large;">We are proud ot partners with <u>Cavier</u> and <u>DoorDash</u></p>
            </div>
        </div>
        
    </div>
</body>
</html>