<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body{background-image: url("https://wallpapers.com/images/high/obito-uchiha-jutsu-4k-15rwldz46jyx6omv.webp");}
        div{background-color: green;}

        div.first{background: rgba(0, 128, 0, 0.1)}

        div.second{background: rgba(0, 128, 0, 0.3)}

        div.third{background: rgba(0, 128, 0, 0.6)}

        div.fourth{background: rgba(0, 128, 0, 1)}
    </style>
    <h2>Transparency Using Opacity(): </h2>
    
    <div style="opacity: 0.3;"><h1>30% Opacity</h1></div>

    <div style="opacity: 0.6;"><h1>60% Opacity</h1></div>

    <div style="opacity: 1.0;"><h1>100% Opacity</h1></div>

    <h2>Transparency Using rgba():</h2>

    <div class="first"><h1>10% Opacity</h1></div>

    <div class="second"><h1>30% Opacity</h1></div>

    <div class="third"><h1>60% Opacity</h1></div>

    <div class="fourth"><h1>100% Opacity | Default</h1></div>


</body>
</html>