<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <style>
        body{background: black; color: white;}
        *{box-sizing: border-box;}
        h1.heading{border: 2px solid red; padding: 25px; margin: 0;}
        ul{font-size: x-large; border: 2px solid red; margin: 0;}
        li{padding: 10px 20px;}
        p{padding: 15px; font-size: x-large;}
    </style>
<body>
    <div>
        <h1 class="heading">Chania</h1>
    </div>

    <div>
        <div style="width: 25%; float: left;">
            <ul>
                <li>The Flight</li>
                <li>The City</li>
                <li>The Island</li>
                <li>The Food</li>
            </ul>
        </div>

        <div style="width: 75%; float: right; border: 3px solid red;">
            <h1 style="padding-left: 15px;">The City</h1>
            <p>Chania is the capital of the Chania region on the island of Crete. The city can be divided into two parts, the old town and the modern city.</p>
            <p>Resize the browser window to see how the content respond to the resizing.</p>
        </div>
        <h1 style="border: 2px solid red; float: left; width: 25%; margin: 0; padding: 5px;">Umofia Anthony Inemesit</h1>
    </div>

</body>
</html>